{% load static tailwind_tags %}

<html lang="en">
<head>
    {% tailwind_css %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!--Alpine JS-->
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <!-- Boxicons CSS -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    {% block navbar %}{% endblock navbar %}

    {% include 'messages.html' %}
    {% block content %}{% endblock content %}
    
    {% block footer %}{% endblock footer %}

    {% block javascript %}{% endblock javascript %}
    
</body>
</html>